*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./assets/blackimage.png);
    background-size: cover;
    overflow: hidden;
}
.taskbar{
    position: absolute;
    bottom: 0;
    display:flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
    background-color: #1F2126;
}
.right{
    position: absolute;
    right: 0;
    margin: 1px 0;
}
.startmenu{
    position: absolute;
    bottom: -1050px;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease-in;
}
.startmenu img{
    border-radius: 10px;
    height: 820px;
}